.geany
*.a
CMakeCache.txt
CMakeFiles
Makefile
*.cmake
Testing
test_atomix
test_expand_env
test_PO
hrtn
obsolete
.geany
.vs
.ninja_*
build.ninja
*.exe
*.exe.*
*.lib
VSInheritEnvironments.txt
test/smoke_*
!test/smoke_*.cpp
test/test_*
!test/test_*.cpp
CMakeSettings.json
